body{
    font-size: 100%;
    font-family: 'Roboto' sans-serif;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 2px solid purple;
    padding: 7px;
    background-color: rgba(0, 0, 255,0.5);
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}


section{
    padding: 1rem;
    background-color: rgb(249, 249, 249);
}